.wrapper {
    padding-top: 50px;
    background-image: url("http://www.webwabisabi.com/img/clicky-game/blue_grid.png");
    background-repeat: repeat;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}